swagger: "2.0"
info:
  title: "ROBO-Factory"
  description: "ROBO-Factory API Documentation"
  version: "1.0.0"
host: "api.robo-factory.io"
basePath: /v1
tags:
- name: "robots"
  description: "Everything about robots"
  externalDocs:
    description: "Find out more"
    url: "http://robo-factory.io"
schemes:
- "http"
paths:
  /robots:
    post:
      tags:
      - "robots"
      description: "Create a robot" 
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: createRobot
        description: The robot to create.
        required: true
        schema:
          $ref: "#/definitions/Robots"
      responses:  
        '201':
          description: "Created"
          schema:
            $ref: "#/definitions/Robots"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error4xx"
    get:
      tags:
      - "robots"    
      description: "Retreive all robots"
      responses:
        '200':
          description: OK
  /robots/{robotName}:
    get:
      tags:
      - "robots"    
      description: "Retreive a specific robot"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: path
        name: robotName
        description: name of robot to retreive.
        required: true
        type: integer
      responses:  
        '200':
          description: "Created"
          schema:
            $ref: "#/definitions/Robots"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error4xx"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error4xx"          
    put:
      tags:
      - "robots"
      description: "Update a robot"
      responses:
        '200':
          description: OK
    delete:
      tags:
      - "robots"
      description: "Delete a robot"
      responses:
        '200':
          description: OK


definitions:
  RobotName:
    type: "object"
    required:
      - "name"
    properties:
      name:
        type: "string"    
  Robots:
    type: "object"
    required:
      - "name"
    properties:
      name:
        type: "string"
      type :
        type: "string"
      cost :
        type: "integer"
      deliveryTime :
        type: "integer"
      imageURL:
        type: "string"
  Error4xx:
    type: "object"
    properties:
      errorMessage:
        type: "string"




